font-style: italic;
}
​
/* CSS styles for fetch data button */
#fetch-data-btn {
    margin-top: 20px; /* Add some space above the button */
    margin-left: 625px;
    background-color: #B100CC;
}
​
  